#select-genre {
    width: 190px;
    height: 100px;
    overflow-y: auto;
    -webkit-user-select: none;
}
textarea {
    resize: none;
}
.result p{
    color: red;
   
}
body{
    font-family: 'Lobster', arial;
}
button{
    font-family: 'Lobster', arial;
}
.registration{
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    height: auto;
    border: 1px solid red;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
#div-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    width: 100%;
    border: 1px solid gray;
}
#other{
    display: flex;
    flex-direction: column;
 
    width: 100%;
    border: 1px solid gray;
}
#fa-lock{
   font-size: 2000%;
   color: red;
}
.sub-menu{
    width: 50%;
}
<<<<<<< HEAD
=======
.sub-menu button{
    width: 20%;
    height: 30px;
}
.sub-menu .margin-left{
    margin-left: 5%;
}
#lock-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#lock-info p{
    font-size: 200%;
    color: red;
}
.registration button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 9%;
}
.registration button:hover{
    background-color: rgb(202, 69, 69);
    color: black;
    border: none;
}
>>>>>>> bcbb97ca035a75ac6a7a424222a12aba1f6eb126
