.main-container-reg {
    width: 60%;
    height: 1500px;
    background-color: rgb(192, 96, 96);
    z-index: 0;
    position: absolute;
    margin-top: 8%;
    left:50%;
    margin-left:-30%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.resultlogin {
    display: none;
}
p.login-error {
    height: 20px;
    position: absolute;
    padding-left: 20px;
    margin-top: 0px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
p.pass-error {
    height: 20px;
    position: absolute;
    padding-left: 20px;
    margin-top: -47px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.h-reg {
    position: relative;
    background: rgb(219, 173, 113);
    font-family: 'Micra', arial;
    letter-spacing: 2px;
    width: 250px;
    margin-left: 371px;
    margin-bottom: -21px;
    padding-left: 30px;
    border-top-left-radius: 20px;
}
#reg-form > .up-form-reg > input:focus {
    outline: none;
}
#reg-form {
    width: 400px;
    height: 700px;
    margin-left: 10%;
    background-color: burlywood;
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
textarea {
    font-size: 110%;
    position: relative;
    resize: none;
    width: 300px;
    height: 100px;
    left: 5%;
    background-color: burlywood;
    border: 2px solid rgba(0, 0, 0, 0.3);
}
textarea:focus {
    outline: none;
    border: 2px solid black;
    transition: 0.1s;
}
.up-form-reg {
    height: 200px;
}
.up-form-reg > input{
    width: 250px;
    height: 20px;
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 5px;
}
.up-form-reg > input:focus {
    border: 2px solid black;
    transition: 0.1s;
}
#h-gender {
    height: 10px;
    position: relative;
    top: -20px;
    left: 5%;
}
input[type=radio], #label {
    position: relative;
    top: -20px;
    left: 5%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
input[type=radio]:hover {
    cursor: pointer;
}
#submit-btn {
    position: relative;
    top: 20px;
    left: 5%;
}
.resultlogin {
    z-index: -1;
}
button[type="submit"] {
    background: none;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    border: 2px solid rgb(161, 13, 230);
    letter-spacing: 0.75px;
}
button[type="submit"]:focus {
    outline: none;
    transition: 0.3s;  
}
button[type="submit"]:hover {
    background-color: rgb(255, 154, 71);
    transition: 0.4s;
    border-radius: 10px;
    border: 2px solid rgb(171, 26, 255);
    box-shadow: inset 1px 1px 10px -1px;
    color: white;
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
input::-webkit-input-placeholder {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
input::-moz-placeholder          {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
input:-moz-placeholder           {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
input:-ms-input-placeholder      {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea::-webkit-input-placeholder {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
textarea::-moz-placeholder          {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
textarea:-moz-placeholder           {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
textarea:-ms-input-placeholder      {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;} 

