.resultlogin {
    display: none;
}
p.login-error {
    height: 20px;
    position: absolute;
    padding-left: 20px;
    margin-top: 0px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
p.pass-error {
    height: 20px;
    position: absolute;
    padding-left: 20px;
    margin-top: -47px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
h1 {
    margin-left: 35%;
}
#reg-form > .up-form-reg > input:focus {
    outline: none;
}
#reg-form {
    width: 400px;
    height: 700px;
    margin-left: 10%;
    background-color: burlywood;
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
}
textarea {
    font-size: 110%;
    position: relative;
    resize: none;
    width: 300px;
    height: 100px;
    left: 5%;
    background-color: burlywood;
    border: 2px solid rgba(0, 0, 0, 0.3);
}
textarea:focus {
    outline: none;
    border: 2px solid black;
    transition: 0.1s;
}
.up-form-reg {
    height: 200px;
}
.up-form-reg > input{
    width: 250px;
    height: 20px;
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 5px;
}
.up-form-reg > input:focus {
    border: 2px solid black;
    transition: 0.1s;
}
#h-gender {
    height: 10px;
    position: relative;
    top: -20px;
    left: 5%;
}
input[type=radio], #label {
    position: relative;
    top: -20px;
    left: 5%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
input[type=radio]:hover {
    cursor: pointer;
}
#submit-btn {
    position: relative;
    top: 20px;
    left: 5%;
}
.resultlogin {
    z-index: -1;
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
input::-webkit-input-placeholder {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
input::-moz-placeholder          {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
input:-moz-placeholder           {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
input:-ms-input-placeholder      {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea::-webkit-input-placeholder {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
textarea::-moz-placeholder          {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
textarea:-moz-placeholder           {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;}
textarea:-ms-input-placeholder      {color: white; font-family: 'Open Sans', arial; letter-spacing: 0.75px; padding-left: 3.5px;} 

