body{
    background-color: white;
    transition: 1s;
}
.main-container , .left-btn , .right-btn {
    background: linear-gradient(to bottom, #c6e262 0%,#95c361 100%);
}
.main-container-reg{
    background-color: orange;
    transition: 1s;
}
.main-container div:first-child p{
    color: black;
}
